body{
  padding-top: 20px;

  background-color: blue;
  font-family: Roboto, sans-serif;
  text-indent: 30px ;
  font-weight: 100;
  font-size: 10px;
  color: black;
}

.card{
  padding-bottom: 15px;
}

